<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyKey"
         connectionString="Data Source=localhost;Initial Catalog=ABC;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Address" value="localhost" />
    <add key="Catalog" value="c" />
    <add key="Username" value="admin" />
    <add key="password" value="admin" />
  </appSettings>
</configuration>