<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Save in the bin debug -->
  <appSettings>
    <add key="Address" value="DELL-INSPIRON14" />
    <add key="Catalog" value="mainDB" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="Tasks" value="Task.json" />
  </appSettings>
</configuration>