<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Save in the bin debug -->
  <appSettings>
    <add key="Address" value="localhost" />
    <add key="Catalog" value="B" />
    <add key="Username" value="admin" />
    <add key="Password" value="admin" />
    <add key="Tasks" value="Task.json" />
  </appSettings>
</configuration>